@import '../../env';

:host {
    display: flex;
    min-height: 100%;
    overflow-x: hidden;
}

.site__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.site__wrapper__skip-link {
    position: absolute;
    top: -40px;
    padding: $unit / 4;
    color: currentColor;
    background-color: transparent;
    transition: top .2s ease-in, background .2s linear;

    &:focus {
        top: 0;
        // TODO z-index
        z-index: 99;
        background-color: $tip-top-30;
        color: $tip-top-600;
    }
}

.site__wrapper__welcome-banner {
    order: -2;
}

.site__wrapper__header {
    // TODO z-index
    // z-index: 1;
}

.site__wrapper__main {
    flex: 1 0 auto;
}

.site__wrapper__footer {
    background-color: $silver-fern-10;
    border-top: 1px solid $silver-fern-20;
    margin-top: $unit;

    @include breakpoint($md-min) {
        border: 0 none;
    }

    a {
        display: inline-block;
    }
}

.site__wrapper__affiliates {
    order: -1;
    display: none;
    background-color: $silver-fern-10;
    border-bottom: 1px solid $silver-fern-30;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.25);

    @include breakpoint($lg-min) {
        display: flex !important;
        flex-direction: column;
    }
}

.site__wrapper__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: $silver-fern-600;
    box-shadow: inset 10px 0px 10px -5px $black;
    transition: opacity 0.2s ease;
    z-index: $z-index-7;
}

.site__mobile-menu {
    order: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 100%;
    transform: translateX(-100%);
    background-color: #fff;
}

.site__wrapper,
.site__mobile-menu {
    transition: transform .2s;
}

.s-mobile-menu-is-open {
    @media(max-width: $md-max) {
        overflow: hidden;

        .site__wrapper {
            transform: translateX(285px);
            @include breakpoint($md-min) {
                // account for tg-grid-container padding when mobile menu is engaged
                margin-left: -$unit;
            }
        }

        .site__wrapper__overlay {
            height: 100%;
            opacity: 0.25;
        }

        .site__mobile-menu {
            transform: translateX(0);
        }

        .site__wrapper__header {
            @include breakpoint($md-min) {
                //Needs !important as we're overriding .h-margin-x-neg-md which uses !important
                margin-left: 0 !important;
            }
        }
    }
}

//.register-link {
//    color: $tip-top-200;
//    text-decoration: none;
//
//    &:hover,
//    &:focus,
//    &:active,
//    &.s-is-active {
//        color: $tip-top-400;
//        text-decoration: underline;
//    }
//
//    &:visited {
//        color: $tip-top-200;
//    }
//}
