<div>
    <header
        class="site__wrapper__header"
        id="Top">
        HEADER
    </header>
    <main
        class="l-container site__wrapper__main"
        id="main-content">
        BODY
    </main>
    <footer
        class="site__wrapper__footer"
        role="contentinfo">
        FOOTER
    </footer>
</div>
