@import './env';

// Loading bar style
// =============================================================================

#transition-loader {
    display: none;
}

.tm-h-transition-loader {
    display: none;
}

.loading-overlay {
    z-index: $z-index-10;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $silver-fern-10;
    overflow-x: hidden;
}

.tm-h-transition-loader {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    margin-left: -16px;

    .h-spinner {
        position: relative;
        height: 40px;
    }

    .h-spinner--is-active:after {
        content: '';
        position: fixed;
        left: 50%;
        top: 50%;
        animation: spinner 1.2s cubic-bezier(0.45, 0.14, 0.51, 0.82) infinite;
        border: 2px solid #DADADA;
        border-radius: 50%;
        border-top-color: #B9B9B9;
        margin-left: -16px;
        margin-top: -16px;
        width: 32px;
        height: 32px;
    }
}

body.tm-h-transition-loading {
    overflow-x: hidden;

    main,
    footer {
        visibility: hidden;

        // Force ads and carousel buttons to go away and stay away
        .o-image-viewer__button,
        iframe {
            display: none !important;
            opacity: 0 !important;
        }
    }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}