@import './env';

//WTF? Well... when the relevant core components are created
//These can be shifted where they belong.
//Currently they are associated with html fragments replicated across the verticals.

// PDN-220: TODO for ng2 conversion make a validation fail text component for common use
.tm-h-validation-fail {
    color: $validation-fail;
}

// PDN-220: TODO for ng2 conversion - change listing details to use tangram sticky box
.listing-sticky-box {
    .s-is-active {
        background-color: $silver-fern-10;
        border-bottom: 2px solid $silver-fern-20;
        margin-top: $ruler-height !important;
        padding-left: $unit;
        padding-right: $unit;

        .h-margin-top-neg {
            margin-top: 0 !important;
        }
    }
}