<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta
            http-equiv="expires"
            content="0"/>

        <title>Trade Me</title>
        <!--<title ng-bind="tradeMe.title">Trade Me</title>-->

        <meta
            property="og:title"
            ng-attr-content="tradeMe.title"
            content="Trade Me"/>
        <meta
            property="og:site_name"
            content="Trade Me"/>
        <!--<meta-->
            <!--property="og:description"-->
            <!--ng-attr-content="{{tradeMe.description}}"-->
            <!--content="Want to buy or sell? Head to Trade Me, NZ’s biggest & most popular auction & classifieds site, with thousands of new & used items in a wide range of categories."/>-->
        <!--<meta-->
            <!--name="description"-->
            <!--ng-attr-content="{{tradeMe.description}}"-->
            <!--content="Want to buy or sell? Head to Trade Me, NZ’s biggest & most popular auction & classifieds site, with thousands of new & used items in a wide range of categories."/>-->
        <!--<meta-->
            <!--property="og:type"-->
            <!--ng-attr-content="{{tradeMe.type}}"-->
            <!--content="Website"/>-->
        <!--<link-->
            <!--rel="canonical"-->
            <!--ng-if="tradeMe.canonicalUrl"-->
            <!--ng-attr-href="{{tradeMe.canonicalUrl}}"/>-->
        <!--<meta-->
            <!--property="og:url"-->
            <!--ng-if="tradeMe.canonicalUrl"-->
            <!--ng-attr-content="{{tradeMe.canonicalUrl}}"/>-->
        <!--<meta-->
            <!--property="og:image"-->
            <!--ng-attr-content="{{tradeMe.image}}"-->
            <!--content="https://preview.trademe.co.nz/images/frend/og-image-2016-315x315-v1.png"/>-->

        <!-- Spec compliant (includes Chrome) -->
        <meta
            name="mobile-web-app-capable"
            content="yes"/>
        <link
            rel="shortcut icon"
            href="favicon.ico?newkev"
            type="image/x-icon"/>
        <link
            rel="icon"
            sizes="192x192"
            href="/images/frend/icon-homescreen-android.png"/>
        <link
            rel="manifest"
            href="manifest.webapp"/>
        <meta
            name="theme-color"
            content="#f9af2c"/>

        <!-- iOS specific -->
        <link
            rel="apple-touch-icon"
            sizes="192x192"
            href="/images/frend/icon-homescreen-ios-192x192.png"/>
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 320px)"
            href="/images/frend/startup-ios-320x460.png">
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)"
            href="/images/frend/startup-ios-640x920.png">
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 768px) and (orientation: portrait)"
            href="/images/frend/startup-ios-768x1004.png">
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 768px) and (orientation: landscape)"
            href="/images/frend/startup-ios-748x1024.png">
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
            href="/images/frend/startup-ios-1536x2008.png">
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
            href="/images/frend/startup-ios-2048x1496.png">

        <meta
            name="apple-mobile-web-app-title"
            content="Trade Me" />

        <!-- IE/Edge specific -->
        <meta
            name="msapplication-navbutton-color"
            content="#f9af2c"/>
        <meta
            name="msapplication-config"
            content="ie-manifest.xml"/>
        <meta
            name="application-name"
            content="Trade Me"/>

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
        <meta
            name="fragment"
            content="!"/>
        <base href="/"/>

        <link
            rel="author"
            href="humans.txt" />

        <% if (htmlWebpackPlugin.options.manuallyIncludeAssets) { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link
            rel="stylesheet"
            href="<%=htmlWebpackPlugin.files.css[css]%>"/>
        <% } %>
        <% } %>

        <!--<link-->
            <!--rel="prev"-->
            <!--ng-if="tradeMe.paginationPrevLink"-->
            <!--ng-attr-href="{{tradeMe.paginationPrevLink}}" />-->
        <!--<link-->
            <!--rel="next"-->
            <!--ng-if="tradeMe.paginationNextLink"-->
            <!--ng-attr-href="{{tradeMe.paginationNextLink}}" />-->
    </head>
    <body>
     <!-- class="tm-h-transition-loading" // TODO ng2 killed this loading class from body -->
        <trade-me>
            <div class="loading-overlay">
                <div
                    style="
                        background-color: #f7f7f7;
                        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.25);
                        height: 50px;
                        position: relative;">
                    <div
                        style="
                            width: 5%;
                            height: 2px;
                            background-color: #FBCC48;
                            position: absolute;
                            bottom: 0;">
                    </div>
                </div>
                <div class="tm-h-transition-loader">
                    <div class="h-spinner h-spinner--is-active">&nbsp;</div>
                </div>
            </div>
        </trade-me>
        <script>window.__raven_js_src='/<%= webpack.assets.filter(chunk => chunk.name.indexOf('raven') !== -1)[0].name %>';</script>
        <% if (htmlWebpackPlugin.options.manuallyIncludeAssets) { %>
            <script src="/index-inlined.js"></script>
            <script src="/polyfill.dll.js"></script>
            <script src="/vendor.dll.js"></script>
            <script src="/index.js"></script>
        <% } %>
    </body>
</html>
